<header class="header">
	<div class="container">
		<div class="header__content">
			<div class="header__desc">Эксклюзивная</div>
			<img src="images/logo.svg" alt="" class="header__logo">
			<p class="header__text">
				Оба приятеля вышли. Братья остались наедине и сперва только посматривали друг на друга. Эта последняя фраза,
				видимо, не понравилась Базарову; от нее веяло философией, то есть романтизмом, ибо Базаров и философию
				называл романтизмом; но он не почел за нужное опровергать своего молодого ученика.
			</p>
			<!-- /.header__text -->
		</div>
	</div>
</header>