.header {
	position: relative;
	padding-top: 20px;
	background: #ffffff;
	margin-bottom: 30px;
	box-shadow: 0 2px 6px 0 rgba(69, 73, 91, 0.08);

	&__logo {
		margin: 4px auto;
		display: block;
		width: 100%;
		max-width: 346px;
	}

	&__content {
		background: url("../images/bg-img.png") no-repeat center center;
		padding-bottom: 50px;
	}

	&__desc {
		font-size: 18px;
		font-weight: 300;
		letter-spacing: 16px;
		text-align: center;
		color: #2b2c2d;
		text-transform: uppercase;
	}

	&__title {
		text-align: center;
		font-size: 80px;
		line-height: 1;
		margin-bottom: 15px;
		color: #d0021b;
	}

	&__text {
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		color: #9b9b9b;
		max-width: 780px;
		margin: 0 auto;

	}


	@media(max-width:768px) {

		&__desc {
			font-size: 14px;
		}

	}
}
