{% include 'head/head.html' %}

<body>

<div class="wrapper" id="js-wrapper">

	{% include 'header/global/header.html' %}

	<div class="middle">
		<div class="middle__container">

			<div class="content">
				<!-- WORKAREA -->
				
				<div class="catalog">
					<div class="catalog__row">

						{% set array = ['1','2','3','4','5','6','7','8'] %}
						{% for item in array %}
						<div class="catalog__col">
							<div class="catalog__item">
								<div class="label">
									<img src="{{src}}catalog-label.png" alt="" class="label__pic">
								</div>
								<div class="catalog__pic js-catalog__pic">
									<a href="{{src}}catalog-item.jpg" data-fancybox="gallery1.1" class="catalog__pic-link">
										<img src="{{src}}catalog-item.jpg" alt="" class="catalog__img">
										<!-- /.catalog__img -->
									</a>

									<div class="catalog-content">
										<ul class="catalog-content__list">
											<li class="catalog-content__li">
												<div class="catalog-content__dotted"></div>
												<div class="catalog-content__name">Тип</div>
												<div class="catalog-content__value">отдельностоящий</div>
											</li>
											<li class="catalog-content__li">
												<div class="catalog-content__dotted"></div>
												<div class="catalog-content__name">Вид</div>
												<div class="catalog-content__value">холодильник с морозильником</div>
											</li>
											<li class="catalog-content__li">
												<div class="catalog-content__dotted"></div>
												<div class="catalog-content__name">Высота (см)</div>
												<div class="catalog-content__value">179.8</div>
											</li>
											<li class="catalog-content__li">
												<div class="catalog-content__dotted"></div>
												<div class="catalog-content__name">Тип</div>
												<div class="catalog-content__value">отдельностоящий</div>
											</li>
											<li class="catalog-content__li">
												<div class="catalog-content__dotted"></div>
												<div class="catalog-content__name">Вид</div>
												<div class="catalog-content__value">холодильник с морозильником</div>
											</li>
											<li class="catalog-content__li">
												<div class="catalog-content__dotted"></div>
												<div class="catalog-content__name">Высота (см)</div>
												<div class="catalog-content__value">179.8</div>
											</li>
											<li class="catalog-content__li">
												<div class="catalog-content__dotted"></div>
												<div class="catalog-content__name">Вид</div>
												<div class="catalog-content__value">холодильник с морозильником</div>
											</li>
											<li class="catalog-content__li">
												<div class="catalog-content__dotted"></div>
												<div class="catalog-content__name">Высота (см)</div>
												<div class="catalog-content__value">179.8</div>
											</li>
										</ul>
									</div>
								</div>
								<!-- /.catalog__pic -->
								<div class="catalog__btns">
									<a data-fancybox="gallery1.2" href="{{src}}catalog-item.jpg" class="catalog__btn">
										Фото
									</a>
									<!-- /.catalog__btn -->
									<a href="#" class="catalog__btn js-catalog-content">
										Характеристики
									</a>
									<!-- /.catalog__btn -->
								</div>
								<!-- /.catalog__btns -->
								<a href="" class="catalog__link js-catalog__link">
								<span class="catalog__desc">
									Духовой шкаф
								</span>
									<!-- /.catalog__desc -->
									Smeg SFP750AX

								</a>
								<!-- /.catalog__link -->
								<div class="catalog__footer">
									<div class="catalog__discount">
										25
									</div>
									<!-- /.catalog__discount -->
									<div class="catalog__price">
										<div class="catalog__price-old">
											92 890
										</div>
										<div class="catalog__price-new">
											69 676
										</div>
									</div>
									<!-- /.catalog__price -->
								</div>
								<!-- /.catalog__footer -->
							</div>
							<!-- /.catalog__item -->

						</div>
						<!-- /.catalog__col -->
						{% endfor %}

					</div>
					<!-- /.catalog__row -->

					<div class="preloader"></div>

					<a href="#" class="catalog__more">Показать еще</a>
				</div>
				<!-- /.catalog -->


				<!-- END WORKAREA -->
			</div>
			<!-- /.content -->

		</div>
		<!-- /.middle__container -->
	</div>
	<!-- /.middle -->

</div>
<!-- /.wrapper -->

{% include 'connect/script.html' %}
{% include 'connect/stylesheet.html' %}

</body>

</html>