body {
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;
	color: $color;
}

a {
	color: $colorLink;
}

a:hover {
	text-decoration: none;
}

ul,li {
	margin: 0;
	padding: 0;
}