.catalog-content {
	padding-top: 20px;
	position: absolute;
	top: 1000px;
	z-index: 10;
	transition: .5s;
	background: rgba(255, 255, 255, .9);
	width: 100%;
	height: 100%;
	overflow-y: auto;

	&__li {
		display: flex;
		position: relative;
		align-items: flex-end;
		margin-bottom: 10px;
	}

	&__name,
	&__dotted,
	&__value {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
		display: block;
		float: left;
		font-size: 11px;
		z-index: 4;
		position: relative;
	}
	&__name {
		display: inline;
		max-width: 80px;
		z-index: 5;
		order: -1;
		line-height: 0.8;
	}

	&__value {
		float: right;
		padding-left:2px;
		line-height: 0.8;
	}

	&__dotted {
		background: none;
		border-bottom: 1px dotted #ccc;
		float: none;
		height: 11px;
		z-index: 2;
		flex-grow: 1;
		position: static;
		width: auto;
		line-height: 1;
	}

	&__name {

	}
}