.container{
	width: 95%;
	margin-right:  auto;
	margin-left: auto;
	max-width: 1200px;

	@media (max-width: 1199px) {
		max-width: 992px;
		width: 95%;
	}

	@media (max-width: 992px) {
		max-width: 970px;
		width: 95%;
	}

	@media (max-width: 768px) {
		max-width: 750px;
		width: 95%;
	}
}
