.middle {
	margin: 0 auto;
	width: 1170px;
	@include clearfix;

	@media (max-width: 1199px) {
		max-width: 992px;
		width: 95%;
	}

	@media (max-width: 992px) {
		max-width: 970px;
		width: 95%;
	}

	@media (max-width: 768px) {
		max-width: 750px;
		width: 95%;
	}

	&__container {
		float: left;
		width: 100%;
	}

}